
<div class="main_container">
  <div class="container to_center">





<div >
  <div class="img_align">
    <img src="../assets/images/cropped_darth.png" class="image">
  </div>
    <div class="box " align="center">
      <h1 align="center">
        {{title}}
      </h1>
      <div >
      <form action="/action_page.php" method="get" >
        <input type="text" name="fname" placeholder="email" class="text_box"><br>
        <input type="text" name="lname" placeholder="password" class="text_box"><br>
        <input type="submit"  value="Submit" (click)="next()" class="button" size="35">
      </form></div>
    </div>
</div>

  </div>
</div>







