.main {
  width: 12%;
  float: left;
  padding: 15px;
}

.container_image {
  position: relative;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.container_image:hover .overlay {
  width: 100%;
  left: 0;
}

.button {
  background-color: #ef3709;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 20px;
  width: 300px;
  cursor: pointer;
  border-radius: 4px;
}

/*button*/
.button {
  width: 25%;
  float: left;
  padding: 15px;
}

.color {
  color: #A9A9A9;
}
