
<div class="main_container">
  <div class="container ">


    <h1>Unlock the force</h1>

    <h2> Please choose your charecter</h2>

    <!--<div class="main container">-->
      <!--<img src="../assets/images/login.png" height="100px" >-->
    <!--</div>-->

    <!--<div class="main">-->
      <!--<img src="../assets/images/login.png" height="100px" >-->
    <!--</div>-->
    <!--<div class="main">-->
      <!--<img src="../assets/images/login.png" height="100px" >-->
    <!--</div>-->
    <!--<div class="main">-->
      <!--<img src="../assets/images/login.png" height="100px" >-->
    <!--</div>-->
    <!--<div class="main">-->
      <!--<img src="../assets/images/login.png" height="100px" >-->
    <!--</div>-->
    <!--<div class="main">-->
      <!--<img src="../assets/images/login.png" height="100px" >-->
    <!--</div>-->


<div class="main">
    <div class="container_image ">
      <img src="../assets/images/spaceship.png" alt="Avatar" class="image" height="100px">
      <div class="overlay">
        <div class="text">spaceship</div>
      </div>
    </div>
</div>
    <div>
    <input type="checkbox">
    </div>
    <!--<section>-->

      <!--<div class="checkboxFour">-->
        <!--<input type="checkbox" value="1" id="checkboxFourInput" name="" />-->
        <!--<label for="checkboxFourInput"></label>-->
      <!--</div>-->
    <!--</section>-->





    <div class="main">
      <div class="container_image ">
        <img src="../assets/images/starwars-boba-fett.png" alt="Avatar" class="image" height="100px">
        <div class="overlay">
          <div class="text">boba-fett</div>
        </div>
      </div>
    </div>

    <div class="main">
      <div class="container_image ">
        <img src="../assets/images/starwars-c-3po.png" alt="Avatar" class="image" height="100px">
        <div class="overlay">
          <div class="text">c-3-po</div>
        </div>
      </div>
    </div>

    <div class="main">
      <div class="container_image ">
        <img src="../assets/images/starwars-r2-d2.png" alt="Avatar" class="image" height="100px">
        <div class="overlay">
          <div class="text">r2-d2</div>
        </div>
      </div>
    </div>

    <div class="main">
      <div class="container_image ">
        <img src="../assets/images/starwars-stormtrooper.png" alt="Avatar" class="image" height="100px">
        <div class="overlay">
          <div class="text">stormtrooper</div>
        </div>
      </div>
    </div>

    <div class="main">
      <div class="container_image ">
        <img src="../assets/images/login.png" alt="Avatar" class="image" height="100px">
        <div class="overlay">
          <div class="text">Hello World</div>
        </div>
      </div>
    </div>


  </div>
</div>








